/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
}

div > div:not(.circle){
    display:inline-block;
    height: 0px;
    width: 300px;
    border-top-left-radius:150px 47px ;
    border-top-right-radius:150px 47px ;
    border-left:75px solid transparent ;
    border-right: 75px solid transparent;
    border-top: 200px yellowgreen solid;
    position: relative;
}

div > div > p{
    display: inline-block;
    width: calc(100% + 2px);
    bottom: 0;
    left: -1px;;
    right: -1px;


    border-top: 15px white solid;
    border-top-left-radius: ;
    border-top-right-radius: ;
    position: absolute;
    z-index: 0;
}




.circle{
    height: 200px;
    width: 200px;
    background-color: orange;
    border: solid 2px blue;
    border-radius: 50%;
}